.ganttTaskRoot {
  display:flex;
  flex-direction: column;
  overflow-x: scroll;
  overflow-y: hidden;
  font-size: 0;
  margin: 0;
  padding: 0;
}
/* Only chrome otherwise the firefox scrollbar has no edge*/
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
  .ganttTaskRoot {
    scrollbar-width: thin;
  }
}

/* .ganttTaskRoot::-webkit-scrollbar {
  width: 1.1rem;
  height: 1.1rem;
}

.ganttTaskRoot::-webkit-scrollbar-corner {
  background: transparent;
}

.ganttTaskRoot::-webkit-scrollbar-thumb {
  border: 6px solid transparent;
  background: rgba(0, 0, 0, 0.2);
  background: var(--palette-black-alpha-20, rgba(0, 0, 0, 0.2));
  border-radius: 10px;
  background-clip: padding-box;
}

.ganttTaskRoot::-webkit-scrollbar-thumb:hover {
  border: 4px solid transparent;
  background: rgba(0, 0, 0, 0.3);
  background: var(--palette-black-alpha-30, rgba(0, 0, 0, 0.3));
  background-clip: padding-box;
} */

.ganttTaskContent {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
/* Only chrome otherwise the firefox scrollbar has no edges*/
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
  .ganttTaskContent {
    scrollbar-width: thin;
  }
}

.wrapper {
  display:grid;
  grid-template-columns: max-content auto;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  position: relative;
}
