.arrow_clickable {
  cursor: pointer;
}

/*noinspection CssUnresolvedCustomProperty*/
.arrow_clickable:hover .mainPath {
  filter: var(--gantt-hover-filter);
  stroke: var(--gantt-arrow-hover-color, red);
}

.mainPath {
  fill: none;
  stroke-width: 2px;
}

.clickZone {
  fill: none;
  stroke: transparent;
  stroke-width: 8px;
}
