.taskListTableRow {
  position: relative;
  display: table-row;
  text-overflow: ellipsis;
  cursor:grab
}
.taskListTableRowGrabbing {
  cursor:grabbing
}

.cut {
  opacity: 0.3;
}

.taskListCell {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
}
.taskListCellInner {
  display: flex;
  align-items: center;
}

.dropAfter {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 8px;
  color: transparent;
}

.dropAfterLighten {
  border-radius: 6px;
}

.dropAfter::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: currentColor;
}

.dropBefore {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  top:0px;
  width: 100%;
  height: 8px;
  color: transparent;
}

.dropBeforeLighten {
  border-radius: 6px;
}

.dropBefore::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: currentColor;
}
