.ganttTableRoot {
  display:flex;
  position: relative;
  border-left: #e6e4e4 1px solid;
  overflow: hidden;
}

.ganttTableWrapper {
  display: grid;
  overflow: hidden;
  grid-template-rows: min-content
}

.ganttTableWrapper::-webkit-scrollbar {
  width: 1.1rem;
  height: 1.1rem;
}

.ganttTableWrapper::-webkit-scrollbar-corner {
  background: transparent;
}

.ganttTableWrapper::-webkit-scrollbar-thumb {
  border: 6px solid transparent;
  background: rgba(0, 0, 0, 0.2);
  background: var(--palette-black-alpha-20, rgba(0, 0, 0, 0.2));
  border-radius: 10px;
  background-clip: padding-box;
}

.ganttTableWrapper::-webkit-scrollbar-thumb:hover {
  border: 4px solid transparent;
  background: rgba(0, 0, 0, 0.3);
  background: var(--palette-black-alpha-30, rgba(0, 0, 0, 0.3));
  background-clip: padding-box;
}

.taskListResizer {
  position: absolute;
  top: 0;
  right: -5px;
  height: 100%;
  width: 10px;
  cursor: ew-resize;
  user-select: none;
}

.taskListResizer:hover {
  background-color: grey;
}

.taskListResizer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 4px;
  height: 100%;
  width: 2px;
  background-color: #e5e5e5;
}

.taskListContent {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  /* scrollbar-width: thin; */
}
.taskListContent::-webkit-scrollbar {
  display: none;
}

.hidden {
  display: none;
}
