.taskListRoot {
  position: relative;
  /*noinspection CssUnresolvedCustomProperty*/
  border-left: 1px solid var(--gantt-table-divider-color, var(--gantt-divider-color));
}

.taskListHorizontalScroll {
  overflow-x: scroll;
}

.taskListHorizontalScroll::-webkit-scrollbar {
  width: 1.1rem;
  height: 1.1rem;
}

.taskListHorizontalScroll::-webkit-scrollbar-corner {
  background: transparent;
}

.taskListHorizontalScroll::-webkit-scrollbar-thumb {
  border: 6px solid transparent;
  /*noinspection CssUnresolvedCustomProperty*/
  background: var(--gantt-scrollbar-thumb-color);
  border-radius: 10px;
  background-clip: padding-box;
}

.taskListHorizontalScroll::-webkit-scrollbar-thumb:hover {
  border: 4px solid transparent;
  /*noinspection CssUnresolvedCustomProperty*/
  background: var(--gantt-scrollbar-thumb-color);
  background-clip: padding-box;
}

.taskListResizer {
  position: absolute;
  top: 0;
  right: -3px;
  height: 100%;
  width: 6px;
  cursor: ew-resize;
  user-select: none;
}

/*noinspection CssUnresolvedCustomProperty*/
.taskListResizer:hover {
  background-color: var(--gantt-table-resize-hover-color);
  filter: var(--gantt-hover-filter);
}

.taskListResizer:hover::before {
  display: none;
}

.taskListResizer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 3px;
  height: 100%;
  width: 1px;
  /*noinspection CssUnresolvedCustomProperty*/
  background-color: var(--gantt-table-resize-color, var(--gantt-divider-color));
}

.horizontalContainer {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.tableWrapper {
  position: relative;
}

.scrollToTop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
}

.scrollToBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
}

.hidden {
  display: none;
}
