.calendarBottomText {
  text-anchor: middle;
  /*noinspection CssUnresolvedCustomProperty*/
  fill: var(--gantt-calendar-bottom-text-color, var(--gantt-secondary-text-color));
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarTopTick {
  /*noinspection CssUnresolvedCustomProperty*/
  stroke: var(--gantt-calendar-top-divider-color, var(--gantt-divider-color));
}

.calendarTopText {
  text-anchor: middle;
  /*noinspection CssUnresolvedCustomProperty*/
  fill: var(--gantt-calendar-top-text-color, var(--gantt-primary-text-color));
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  font-weight: bold;
}

.calendarHeader {
  fill: transparent;
  /*noinspection CssUnresolvedCustomProperty*/
  stroke: var(--gantt-calendar-stroke-color);
  stroke-width: 1.4;
}

.calendar {
  cursor: auto;
  user-select: none;
}

.calendarDragging {
  cursor: ew-resize;
}
