/*noinspection CssUnresolvedCustomProperty*/
.menuOption {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 12px;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  min-width: 120px;
  border: none;
  padding-block: unset;
  padding-inline: unset;
  min-height: 36px;
  z-index: 1;
  fill: var(--gantt-table-action-color);
}

.menuOption svg {
  width: 20px;
  height: 20px;
}

.menuOption:hover {
  background-color: #eeeeee;
}

.icon {
  font-size: inherit;
}

.label {
  flex: 1;
}
