.barWrapper {
  cursor: pointer;
  outline: none;
}

.barWrapper:hover .barHandle {
  visibility: visible;
  opacity: 1;
}

/*noinspection CssUnresolvedCustomProperty*/
.barHandle {
  fill: var(--gantt-bar-handle-color);
  cursor: ew-resize;
  opacity: 0;
  visibility: hidden;
}

.barBackground {
  user-select: none;
  stroke-width: 0;
}
