.taskListNameWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: 20px;
  position: relative;
}

.dragging {
  opacity: 0.5;
}

.taskListExpander {
  position: absolute;
  left: 0;
  vertical-align: middle;
  text-align: center;
  user-select: none;
  cursor: pointer;
  /*noinspection CssUnresolvedCustomProperty*/
  fill: var(--gantt-table-action-color);
}

.taskListEmptyExpander {
  user-select: none;
  cursor: default;
}

.taskName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
