html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*.storybook-docs {*/
/*  width: 100% !important;*/
/*  height: 100% !important;*/
/*}*/

/*.storybook-docs .docs-story {*/
/*  width: 100% !important;*/
/*  height: 100% !important;*/
/*}*/

.sbdocs-content {
  max-width: none !important;
  width: 100% !important;
}
